<div class="app-container">
  <div class="sidebar">
    <div class="app-title">Finanz Buddy</div>
    
    <nav class="nav-menu">
      <ng-container *ngFor="let item of menuItems">
        <a *ngIf="item.implemented || showUnimplementedFeatures" 
           [routerLink]="item.path" 
           routerLinkActive="active" 
           class="nav-item"
           [class.not-implemented]="!item.implemented">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
      </ng-container>

      <a (click)="toggleUnimplementedFeatures()" 
         class="nav-item coming-features">
        <mat-icon>
          {{ showUnimplementedFeatures ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <span>{{ showUnimplementedFeatures ? 'Features ausblenden' : 'Coming Features' }}</span>
      </a>
    </nav>
  </div>

  <div class="main-content">
    <div class="header">
      <h1 class="page-title">Finanz Buddy - Hauptbereich</h1>
      
      <div class="profile-container">
        <button mat-icon-button class="profile-button" (click)="openProfileDialog()">
          <div class="avatar-container">
            <img src="assets/images/test222.webp" 
                alt="Profilbild" class="profile-avatar">
            <div class="status-indicator"></div>
          </div>
        </button>
      </div>
    </div>
    
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>