<div class="legal-page">
    <h1>Imprint</h1>
    <p>Here are the imprint details.</p>
    <p>Address: Musterstraße 1, 12345 Musterstadt</p>
    <p>Phone: 01234 / 567890</p>
    <p>Email: infomusterfirma.de</p>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptatem dolorum corporis at commodi, beatae facilis accusantium ipsam tempora magnam reprehenderit laborum quis ullam. Sunt dolores aliquam obcaecati. Tenetur, tempora.
   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam dolores nesciunt adipisci voluptatem excepturi consequuntur, reprehenderit laborum vel maiores. Exercitationem labore accusantium hic quidem repellat reiciendis ratione architecto ipsam laboriosam?
  </div>
  