<div class="statistics-container">
  <div class="statistics-header">
    <div class="header-content">
      <h1>Statistiken</h1>
      
      <div class="filters">
        <mat-form-field appearance="outline">
          <mat-label>Zeitraum</mat-label>
          <mat-select [(ngModel)]="selectedPeriod">
            <mat-option *ngFor="let period of periods" [value]="period.value">
              {{ period.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Kategorie</mat-label>
          <mat-select [(ngModel)]="selectedCategory">
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{ category.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <button mat-fab color="primary" (click)="applyFilters()">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-tab-group>
    <mat-tab label="Ausgaben & Einnahmen">
      <div class="chart-container">
        <div class="chart-placeholder">
          <div class="chart-title">Ausgaben & Einnahmen über Zeit</div>
          <div class="chart-wrapper">
            <canvas #incomeExpenseChart></canvas>
          </div>
        </div>
      </div>
    </mat-tab>
    
    <mat-tab label="Kategorie-Verteilung">
      <div class="chart-container">
        <div class="chart-placeholder">
          <div class="chart-title">Ausgaben nach Kategorien</div>
          <div class="chart-wrapper">
            <canvas #categoryChart></canvas>
          </div>
        </div>
      </div>
    </mat-tab>
    
    <mat-tab label="Trends">
      <div class="chart-container">
        <div class="placeholder-message">
          Trends werden hier angezeigt
        </div>
      </div>
    </mat-tab>
    
    <mat-tab label="Prognose">
      <div class="chart-container">
        <div class="placeholder-message">
          Finanzprognose wird hier angezeigt
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="export-container">
    <button mat-fab color="primary" (click)="exportData('pdf')">
      <mat-icon>picture_as_pdf</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="exportData('csv')">
      <mat-icon>table_chart</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="exportData('excel')">
      <mat-icon>table_view</mat-icon>
    </button>
  </div>
</div>